<div id="delete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title">Delete Link</h4></div>
        <div class="modal-body">
          <form id="dform" action="" method="POST">
            <div class="form-group">
              <label>Are you sure to delete this url : </label>
              <a id="durl" href=""></a>
            </div>
            <div class="form-group">
              <button class="btn btn-danger" type="submit">Delete</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
