{% extends 'base.html' %}

{% block headers %} <link rel="stylesheet" href="static/css/index.css"> {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <a href="/logout" style="float: right">logout</a>
                <h2>Manage <b>Links</b>
                  <button type="button" class="btn btn-secondary float-right" data-bs-toggle="modal" data-bs-target="#add">Add Link</button>
                </h2>
  
                <table id="data" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Urls</th>
                            <th>Tags</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                    {% if link.archive %}
                    <tr>
                        <td><div id="link-{{link.id}}"><del>{{link.url}}</del></div></td>
                        <td>
                        {% for tag in link.tags %}
                          <a href="">#{{tag.name}}</a>
                        {% endfor %}
                        </td>
                        <td>
                          <a id="like-{{link.id}}"><i class="bi bi-hand-thumbs-up" style="color:green;cursor:pointer;"></i></a>
                          <a id="dislike-{{link.id}}"><i class="bi bi-hand-thumbs-down" style="color:red;cursor:pointer;"></i></a>
                          <a href="#edit" data-bs-toggle="modal" data-link-id="{{link.id}}" data-link-url="{{link.url}}"><i class="bi bi-pencil-square"></i></a>
                          <a id="archive-{{link.id}}" onclick="archive(this)"><i class="bi bi-recycle" style="color:seagreen;cursor:pointer;"></i></a>
                          <a href="#delete" data-bs-toggle="modal" data-link-id="{{link.id}}" data-link-url="{{link.url}}"><i class="bi bi-trash"></i></a></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td><div id="link-{{link.id}}"><a href="{{link.url}}">{{link.url}}</a></div></td>
                        <td>
                        {% for tag in link.tags %}
                          <a href="">#{{tag.name}}</a>
                        {% endfor %}
                        </td>
                        <td>
                            {% set nb_like = namespace(value=0) %}
                            {% set lovers = namespace(entities=[]) %}
                            {% for like in link.likes %}
                                {% set nb_like.value = nb_like.value + 1 %}
                                {% set lovers.entities = lovers.entities + [like.login] %}
                            {% endfor %}
                            <a id="like-{{link.id}}" onclick="like(this)" data-toggle="tooltip" data-placement="top" title="{{lovers.entities}}"><i class="bi bi-hand-thumbs-up" style="color:green;cursor:pointer;"></i>{{nb_like.value}}</a>
                            {% set nb_dislike = namespace(value=0) %}
                            {% set haters = namespace(entities=[]) %}
                            {% for dislike in link.dislikes %}
                                {% set nb_dislike.value = nb_dislike.value + 1 %}
                                {% set haters.entities = haters.entities + [dislike.login] %}
                            {% endfor %}
                            <a id="dislike-{{link.id}}" onclick="dislike(this)" data-toggle="tooltip" data-placement="top" title="{{haters.entities}}"><i class="bi bi-hand-thumbs-down" style="color:red;cursor:pointer;"></i>{{nb_dislike.value}}</a>
                            <a href="#edit" data-bs-toggle="modal" data-link-id="{{link.id}}" data-link-url="{{link.url}}"><i class="bi bi-pencil-square"></i></a>
                            <a id="archive-{{link.id}}" onclick="archive(this)"><i class="bi bi-recycle" style="color:seagreen;cursor:pointer;"></i></a>
                            <a href="#delete" data-bs-toggle="modal" data-link-id="{{link.id}}" data-link-url="{{link.url}}"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            {% include 'edit.html' %}
            {% include 'delete.html' %}
            {% include 'add.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $("#data").DataTable({
      columns: [
        {orderable: true, searchable: true, "width": "60%"},
        {orderable: false, searchable: true, "width": "25%"},
        {orderable: false, searchable: false, "width": "15%"},
        ],
      drawCallback: settings => {
        $('[data-toggle="tooltip"]').tooltip();
      }
    });
  });
    
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  $('#edit').on('show.bs.modal', function(e) {
    var linkId = $(e.relatedTarget).data('link-id');
    var linkUrl = $(e.relatedTarget).data('link-url');
    document.getElementById("eform").setAttribute("action", "/edit/"+linkId);
    document.getElementById("eurl").setAttribute("href", linkUrl);
    document.getElementById("eurl").innerText=linkUrl;
  });

  $('#delete').on('show.bs.modal', function(e) {
    var linkId = $(e.relatedTarget).data('link-id');
    var linkUrl = $(e.relatedTarget).data('link-url');
    document.getElementById("dform").setAttribute("action", "/delete/"+linkId);
    document.getElementById("durl").setAttribute("href", linkUrl);
    document.getElementById("durl").innerText=linkUrl;
  });
  
  function like(likeObject){
    let id = likeObject.id.split('-')[1];
    $.get('/like/'+id, (data) => {
      likeObject.lastChild.data = data.nb;
      $("#like-"+id).attr("data-bs-original-title", data.users);
    }, 'json');
  } 
  
  function dislike(dislikeObject){
    let id = dislikeObject.id.split('-')[1];
    $.get('/dislike/'+id, (data) => {
      dislikeObject.lastChild.data = data.nb;
      $("#dislike-"+id).attr("data-bs-original-title", data.users);
    }, 'json');
  }

  function archive(archiveObject){
    let id = archiveObject.id.split('-')[1];
    $.get('/archive/'+ id, (data, status, xhr) => {
      if( xhr.status === 200){
        if( data.archive != null && data.archive)
          $("#link-"+id)[0].innerHTML = "<del>"+ $("#link-"+id)[0].lastChild.href + "</del>";
        else if(data.restore != null && data.restore) {
          lc = $("#link-"+id)[0].lastChild.lastChild.data
          $("#link-"+id)[0].innerHTML = "<a href="+ lc +">"+ lc + "</a>"
        }
      }
    }, 'json');
  }
  
  function addTag(tagObject){
    name = tagObject.id.split('-')[1];
    input = $('#input-tag');
    if( input.val().includes(name)){
      tagObject.lastElementChild.style.color = "";
      input.val( () => {
        return input.val().replace(','+name, '').replace(name+',', '').replace(name, '');
      });
    }else{
      tagObject.lastElementChild.style.color = 'green';
      input.val( () => {
        return input.val().length > 0 ? input.val() + ',' + name : name;
      });

    }
  }

  $(document).ready(function(){
    $.get('/tags', tags => {
        tags.forEach( (elt, i) => {
          if( !(i % 5) )
            $("#add-listing-tag").append("</tr><tr>");
          $("#add-listing-tag").append('<td id="tag-'+ elt +'" onClick="addTag(this)"><i class="bi bi-tag"></i> '+ elt+'</td>');
        });
    }, 'json');
  });
</script>
{% endblock %}
