{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <a href="/logout" style="float: right">logout</a>
                <h2>Manage <b>Links</b>
                  <button type="button" class="btn btn-secondary float-right" data-bs-toggle="modal" data-bs-target="#add">Add Link</button>
                </h2>
                <table id="data" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Urls</th>
                            <th>Categories</th>
                            <th>Types</th>
                            <th>Tags</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                    <tr id="row-{{link.id}}">
                        <td>
                          {% if link.archive %}
                            <a style="color:grey; text-decoration:line-through; pointer-events:none;" href="{{link.url}}">{{link.url}}</a>
                          {% else %}
                            <a href="{{link.url}}">{{link.url}}</a>
                          {% endif %}
                        </td>
			<td>
                          {% for category in link.categories %}
                            <a href="">#{{category.name}}</a>
                          {% endfor %}
                        </td>
                        <td>
                          {% for type in link.types %}
                            <a href="">#{{type.name}}</a>
                          {% endfor %}
                        </td>
                        <td>
                          {% for tag in link.tags %}
                            <a href="">#{{tag.name}}</a>
                          {% endfor %}
                        </td>
                        <td>
                          {% set nb_like = namespace(value=0) %}
                          {% set lovers = namespace(entities=[]) %}
                          {% for like in link.likes %}
                            {% set nb_like.value = nb_like.value + 1 %}
                            {% set lovers.entities = lovers.entities + [like.login] %}
                          {% endfor %}
                          {% set nb_dislike = namespace(value=0) %}
                          {% set haters = namespace(entities=[]) %}
                          {% for dislike in link.dislikes %}
                            {% set nb_dislike.value = nb_dislike.value + 1 %}
                            {% set haters.entities = haters.entities + [dislike.login] %}
                          {% endfor %}
                          {% if link.archive %}
                            <a id="like-{{link.id}}" onclick="like(this)" data-toggle="tooltip" data-placement="top" title="{{lovers.entities}}" style="pointer-events:none;"><i class="bi bi-hand-thumbs-up" style="color:gray;"></i>{{nb_like.value}}</a>
                            <a id="dislike-{{link.id}}" onclick="dislike(this)" data-toggle="tooltip" data-placement="top" title="{{haters.entities}}" style="pointer-events:none;"><i class="bi bi-hand-thumbs-down" style="color:gray;"></i>{{nb_dislike.value}}</a>
                            <a href="#edit" data-bs-toggle="modal" data-link-id="{{link.id}}" data-link-url="{{link.url}}"><i class="bi bi-pencil-square" style="color:gray; pointer-events:none;"></i></a>
                            <a id="archive-{{link.id}}" onclick="archive(this)"><i class="bi bi-recycle" style="color:seagreen; cursor:pointer;"></i></a>
                            <a href="#delete" data-bs-toggle="modal" data-link-id="{{link.id}}" data-link-url="{{link.url}}"><i class="bi bi-trash"></i></a>
                          {% else %}
                            <a id="like-{{link.id}}" onclick="like(this)" data-toggle="tooltip" data-placement="top" title="{{lovers.entities}}"><i class="bi bi-hand-thumbs-up" style="color:green; cursor:pointer;"></i>{{nb_like.value}}</a>
                            <a id="dislike-{{link.id}}" onclick="dislike(this)" data-toggle="tooltip" data-placement="top" title="{{haters.entities}}"><i class="bi bi-hand-thumbs-down" style="color:red; cursor:pointer;"></i>{{nb_dislike.value}}</a>
                            <a href="#edit" data-bs-toggle="modal" data-link-id="{{link.id}}" data-link-url="{{link.url}}"><i class="bi bi-pencil-square"></i></a>
                            <a id="archive-{{link.id}}" onclick="archive(this)"><i class="bi bi-recycle" style="color:seagreen; cursor:pointer;"></i></a>
                            <a href="#delete" data-bs-toggle="modal" data-link-id="{{link.id}}" data-link-url="{{link.url}}"><i class="bi bi-trash"></i></a>
                          {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            {% include 'edit.html' %}
            {% include 'delete.html' %}
            {% include 'add.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/index.js"></script>
{% endblock %}
